/* Base Styles */
* {
  font-family: "proxima-nova",sans-serif;
  
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav a {
  color: #f9f9f9;
}
nav,
header,
main,
footer {
  text-align: center;
}

/* Grid and Flexbox */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.project-container {
  grid-row-gap: 2em;
  margin-bottom: 2em;
}
header,
footer,
.menu-ul,
.info,
.project,
.contact2 {
  flex-direction: column;
}

/* Images */
.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: -10px 10px 50px grey;
}
.project img {
  height: 125px;
  width: 200px;
  border-radius: 2px;
  transition: transform .7s ease-out;
}
.project img:hover {
  transform: scale(1.1);
}
.profile-pic,
.project img {
  border: 2px solid #074a6a;
}
.profile-pic,
.project a,
.github {
  margin-left: auto;
  margin-right: auto;
}

/* Main Content */
h1 {
  font-size: 20px;
  margin-top: 1em;
}
.main-nav p {
  font-size: 15px;
}
.main-nav ul {
  padding-left: 0;
}
nav li {
  border-top: 1px solid #042738;
  border-bottom: 1px solid #042738;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px 0;
}
nav li:hover {
  background-color: #333;
}
main > h2 {
  margin: 1.5em 0;
}
.main-nav div,
main > h2 {
  color: #f9f9f9;
  border-bottom: 5px dashed #042738;
  padding-bottom: 1em;
}
.main-nav ul,
header,
main,
footer {
  margin-left: 10px;
  margin-right: 10px;
  
}
header,
footer,
.project,
.contact2 {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
}
.project,
.contact2 {
  padding-bottom: 2em;
}
body, 
.project-container {
  background-color: #074a6a;
}
.secondary-nav,
.github {
  margin-bottom: 1em;
}
.secondary-nav {
  margin-top: 2em;
}
.github {
  background-image: url(../images/github.svg);
  width: 30px;
  height: 30px;
}
.contact2,
.hidden-ul, 
.secondary-nav ul,
.slide-container,
.slide-triggers {
  display: none;
}

/* Div Slider */
.slide-triggers {
  justify-content: space-evenly;
  width: 150px;
  margin:  2em auto;
}
.trigger {
  width: 15px;
  height: 15px;
  border: 1px solid #f9f9f9;
  border-radius: 50%;
}
.active {
  background-color: #333;
}
.fade { 
  -webkit-animation-name: fade-div; 
  -webkit-animation-duration: 6s; 
  animation-name: fade-div; 
  animation-duration: 6s;
} 
@-webkit-keyframes fade-div { 
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 
@keyframes fade-div { 
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  } 
} 

/* Dropdown Menu */
.menu-button {
  background-color: #333;
  color: #f9f9f9;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 2em auto 0;
  padding: .5em;
  width: 90%;
}
.menu-button:focus {
  border: 1px solid #ff4141;
}

/* Media Queries */
@media (min-width: 768px) {
  header {
    flex-direction: row;
  }
  header {
    margin-top: 1em;
  }
  nav ul,
  .info {
    justify-content: space-around;
  }
  .info,
  .profile-pic {
    margin-right: 7%;
  }
  .profile-pic {
    border-width: 3px;
  }
  .project-container {
    grid-template-columns: 50% 50%;
    grid-row-gap: 0;
    border-bottom: 5px dashed #042738;
    padding-bottom: 1em;
    margin-bottom: 0;
  }
  .project,
  .contact2 {
    margin: 1em;
  }
  ul li {
    width: 40%;
  }
  .contact1, 
  .to-top,
  .menu-button, 
  ul li:nth-child(3) {
    display: none;
  }
  .contact2,
  .hidden-ul, 
  .secondary-nav ul {
    display: flex;
  }
  .secondary-nav {
    margin-top: 1em;
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  h1 {
    margin-top: 2em;
  }
  .contact1 {
    display: flex;
    flex-direction: row;
  }
  .contact2 {
    display: none;
  }
  ul li:nth-child(3) {
    display: list-item;
  }
  ul li {
    width: 25%;
    border: 1px solid #042738;
  }
  .info p {
    background-color: #f9f9f9;
    border: 3px solid #074a6a;
    padding: 1em;
  }
  ul li,
  .info p {
    border-radius: 5px;
  }
  .info {
    width: 50%;
  }
  .profile-pic {
    border-color: #f9f9f9;
    box-shadow: none;
  }
  header {
    background: url('../images/cleveland.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin: 1em 0;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 0;
    min-height: 300px;
  }
  footer {
    margin: 2em 2em 0;
  }
  .info,
  .profile-pic,
  footer p,
  .github,
  address {
    margin: auto;
  }
  footer p {
    padding-right: 1em;
    padding-left: 1em;
    border-right: 1px solid #042738;
    border-left: 1px solid #042738;
  } 
  .reach-out {
    display: none;
  }
  .github {
    order: 1;
  }
  .project {
    margin: auto 10%;
    min-height: 550px;
  }
  .project-container {
    display: none;
  }
  .project img {
    height: 375px;
    width: 600px;
    margin: 1em auto;
    border-width: 4px;
  }
  .project p {
    order: 1;
    width: 80%;
    margin: auto;
  }
  .project,
  .contact1 {
    border: 3px solid #042738;
    border-radius: 10px;
  }
  .slide-container {
    display: block;
  }
  .slide-triggers {
    display: flex;
  }
}